.Callback {
  height: 100vh;
  background-color: hsla(240, 8%, 15%, 0.94);
  background-image: radial-gradient(hsl(240, 8%, 27%), hsl(240, 17%, 8%));
  background-position-x: initial;
  background-position-y: initial;
}
